<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/IMG_1813.JPG" alt="Marysia z Zeganowa">
    </div>
    
    {{>footer}}
</body>

</html>